{%load static%}
{%include 'Admin/header.html'%}
<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>District</h2>
                    <form action="{%url 'district'%}"method="POST">
                        {% csrf_token %}
                        <div class="group-input">
                            <label for="username">District</label>
                            <input type="text" id="username" name="txt_district"
                            placeholder="Enter district" required 
                            pattern="^[A-Za-z\s]+$"
                            title="Only letters and spaces allowed" >
                               
                        </div>
                        
                        <button type="submit" class="site-btn login-btn">Register</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->