
{%load static%}
{%include 'Customer/header.html'%}
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/index"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                        <ul class="filter-catagories">
                            {% for i in Category %}
                                <li><a href="{%url 'CategoryBookdetails' id=i.CategoryId%}">{{i.Category}}</a></li>
                            {%endfor%}
                            </ul>
                </div>
 
                <div class="filter-widget">
                    <h4 class="fw-title">Books</h4>
                    <ul class="filter-catagories">
                        <li><a href="/listofbooksview">New</a></li>
                        <li><a href="/listofsecondbooksview">Second Hand</a></li>
                    </ul>
                </div>

               
                
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                
              
                <div class="product-list">
                    <div class="row">
                        {% for data in top_books %}
                        <div class="col-lg-4 col-sm-6">
                            
                            <div class="product-item">
                                
                                <div class="pi-pic">
                                    
                                    <img src="{{data.Bookimg.url }}" alt="" style="height: 300px;width: 200px;">
                                    
                                    <div class="icon">
                                        <i class="icon_heart_alt"></i>
                                    </div>
                                    <ul>
                                        <li class="w-icon active"><a href="{%url 'add_to_cart' product_id=data.Bid%}"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view"><a href="{%url 'Bookdetails' id=data.Bid%}">+ Quick View</a></li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul>
                                </div>
                                
                                <div class="pi-text">
                                    <div class="catagory-name">{{data.BookName}}</div>
                                    <a href="{%url 'Bookdetails' id=data.Bid%}">
                                        <h5>{{data.Publisher}}</h5>
                                    </a>
                                    <div class="product-price">
                                        {{data.price}}
                                        <span>Rs:{{data.MRP}}</span>
                                    </div> 
                                         
                                </div>
                                  
                            </div>
                            
                        </div>
                        {%endfor%}
                
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            

            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->
{%include 'Customer/footer.html'%}