 {%load static%}
 <!-- Footer Section Begin -->
 <footer class="footer-section">

    

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="{% static 'images/Logo.jpeg'%}" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Santhisoft Technologies, Thodupuzha</li>
                        <li>Phone: +91 86593 77777</li>
                        <li>Email: infinityreads.stem@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="./contact">Contact</a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="/newpassword">Change Password</a></li>
                        <li><a href="./contact">Contact</a></li>
                        <li><a href="./feedback">Feedback</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Quick Search</h5>
                    <p>Search by Title or Author</p>
                    <form action= "{% url 'search' %}" method = "POST">
                        {% csrf_token %}
                        
                        <input type="text" placeholder="Search by Title or Author" name="txt_search">
                        <button  type="submit"><i class="ti-search"name="btn_Category" style="bgcolor=orange";></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="payment-pic">
                        <img src="{% static 'css/img/payment-method.png'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{% static 'css/js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'css/js/bootstrap.min.js'%}"></script>
<script src="{% static 'css/js/jquery-ui.min.js'%}"></script>
<script src="{% static 'css/js/jquery.countdown.min.js'%}"></script>
<script src="{% static 'css/js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'css/js/jquery.zoom.min.js'%}"></script>
<script src="{% static 'css/js/jquery.dd.min.js'%}"></script>
<script src="{% static 'css/js/jquery.slicknav.js'%}"></script>
<script src="{% static 'css/js/owl.carousel.min.js'%}"></script>
<script src="{% static 'css/js/main.js'%}"></script>
</body>
